h1, h2, h3 {
    color: blue;
}

.violet {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: violet;
}

.my-list-element {
    font-weight: bold;

}

#special-heading {
    font-size: 40px;
    color: red
}